<form action="/login" method="POST">
    <label for="">Email</label>
    <input type="email" name="email" id="">
    <label for="">Password</label>
    <input type="text" name="password" id="">
    <button type="submit">SignIn</button>
</form>
<form action="/signup" method="Get">
    <button type="submit">No account? SngUp</button>
</form>